<div class="container">
  <div *ngFor="let post of posts$ | async" class="post">
    <div class="post-header">
      <img id="profilePicture" [src]="post.profile.profilePicture || 'default-profile-url'" alt="Profile Picture" class="profile-picture">
      <span id="username" class="username">{{ post.profile.username || 'DefaultUser' }}</span>
    </div>
    <div class="post-body">
      <img id="previewImage" [src]="post.imageUrl" alt="Image" class="w-100 mb-3">
      <p>{{ post.description }}</p>
    </div>
    <div class="post-footer">
      <button (click)="toggleLike(post.id)" class="like-button" [ngClass]="post.isLiked ? 'filled-heart' : 'empty-heart'">
        {{ post.isLiked ? 'Unlike' : 'Like' }}
      </button>
      <span>{{ post.likes }} likes</span>
    </div>
  </div>
</div>
